@model vapor.Models.GameImage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GameImage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.game.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
