@model IEnumerable<vapor.Models.Review>

@{
    ViewData["Title"] = "Index";
}

@if (User.IsInRole("Customer,Developer,Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.comment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.writtenAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lastUpdate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.writtenAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastUpdate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
<div class="row profile-container">
    @foreach (var item in Model)
    {




<div class="profile-card">
    <div class="profile-card">
        <h4><b>@item.game.name</b></h4>
        <h5>@item.cusotmer.name</h5>
        <p>@item.comment</p>
        <p>@item.rating - GPU's /10</p>
        <p>Date: @item.lastUpdate</p>
        @if (User.IsInRole("Admin"))
        {
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.id">Edit</a>
            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.id">Details</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id">Delete</a>
        }
    </div>
    </div>
    }
</div>
