@model vapor.Models.Developer

@{
    ViewData["Title"] = Model.name + " Details";
}

<h1>@Model.name</h1>

<div>

    <div class="embed-responsive embed-responsive-16by9">
        <img class="embed-responsive-item" src="@Url.Action("getDeveloperAvater", new {devId = Model.id})" />
    </div>
    @*<h4>Average game rating: @Model.games.Average(g => g.reviews.Average(r => r.rating))</h4>*@
    <span> Avarege Game Rating: <i id="avaregeRate" class="bi bi-star-fill">@String.Format("{0:0.00}", Model.games.Average(g => g.reviews.Average(r => r.rating)))</i></span>
    <h3>Games</h3>
    <div class="row" id="game-list">
        @foreach (var item in Model.games)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
                <div class="card bg-dark text-black h-100">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img class="card-img card-img-top embed-responsive-item" src=@Url.Action("GetGameImageByGameId","Games", new {gameId = item.id})>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@item.name</h5>
                        <h6 class="card-subtitle text-muted mb-2">@item.developer.name</h6>

                        <div class="mb-2" id="genre-holder">
                            @foreach (var genre in item.genres)
                            {
                                <span class="badge badge-secondary">@genre.name</span>
                            }
                        </div>

                        <div style="margin-top: auto;" class="row">
                            <span class="col-12">
                                <a asp-action="Details" asp-controller="Games" asp-route-id="@item.id" class="btn btn-primary w-100">Details</a>
                            </span>
                            @if (User.IsInRole("Admin") || User.IsInRole("Developer"))
                            {
                                <span class="col-12 my-1">
                                    <a asp-action="Edit" asp-controller="Games" asp-route-id="@item.id" class="btn btn-warning w-100">Edit</a>
                                </span>
                            }
                            @if (User.IsInRole("Admin") || User.IsInRole("Developer"))
                            {
                                <span class="col-12">
                                    <a asp-action="Delete" asp-controller="Games" asp-route-id="@item.id" class="btn btn-danger w-100">Delete</a>
                                </span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

<div>
    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
