@model vapor.Models.Game

@{
    ViewData["Title"] = "Details";
}

<input type="hidden" value="@Model.id" id="gameId" />


<div class="container">
    <div class="row">
        <h1>@Html.DisplayFor(model => model.name)</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h5>@Html.DisplayNameFor(model => model.description)</h5>
        </div>
        <div class="col-md-9">
            <span>@Html.DisplayFor(model => model.description)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h5>@Html.DisplayNameFor(model => model.developer)</h5>
        </div>
        <div class="col-md-9">
            <span>@Html.DisplayFor(model => model.developer.name)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h5>@Html.DisplayNameFor(model => model.price)</h5>
        </div>
        <div class="col-md-9">
            <span>@Html.DisplayFor(model => model.price)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h5>@Html.DisplayNameFor(model => model.releaseDate)</h5>
        </div>
        <div class="col-md-9">
            <span>@Html.DisplayFor(model => model.releaseDate)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h5>
                @Html.DisplayNameFor(model => model.genres)
            </h5>
        </div>
        <div class="col-md-9">
            @if (Model.genres.Count() > 0)
            {
                <div class="row">
                    @foreach (var genre in Model.genres)
                    {
                        <h4 class="game-genre">
                            <span class="badge badge-primary">@genre.name</span>
                        </h4>
                    }
                </div>
            }
            else
            {
                <h4> No genres to present</h4>
            }
        </div>
    </div>
    <div class="row" style="width:70%">
        <div id="image-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                @for (int i = 0; i < Model.images.Count(); i++)
                {
                    <li data-target="#image-carousel" data-slide-to="@i" class=" @(@i == 0 ? "active" : "")"></li>
                }
            </ol>
            <div class="carousel-inner">
                @for (int i = 0; i < Model.images.Count(); i++)
                {
                    <div class="carousel-item @(@i == 0 ? "active" : "") ">
                        <img class="d-block w-100" src="@Url.Action("GetGameImage", new {id = Model.images.ElementAt(i).id})" />
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#image-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#image-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="row">

        <a class="btn btn-success" href="/Orders/create?gameid=@Model.id">buy now</a>
        <a class="btn btn-success" id="addToCart">add to cart</a>

    </div>
</div>

<div>
    @if (User.IsInRole("Admin") || User.IsInRole("Developer"))
    {
        <a asp-action="Edit" asp-route-id="@Model.id">Edit</a>
    } |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/Games/Details.js"></script>
    <link rel="stylesheet" href="~/css/Games/Games.css" />
}

@section Alerts{
    <div class="alert alert-success mt-2 hide" role="alert" id="cartAlert">
        Game added to cart successfully!
    </div>
}
