@model dynamic
@{
    ViewData["Title"] = "Details";
}

<input type="hidden" value="@Model.game.id" id="gameId" />

<div class="container">
    <div class="row">
        <h1>@Model.game.name</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h5>Description</h5>
        </div>
        <div class="col-md-9">
            <span>@Model.game.description</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h5>Developer name</h5>
        </div>
        <div class="col-md-9">
            <a href="/Developers/Details/@(Model.game.developer.id)">@Model.game.developer.name</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h5>Price</h5>
        </div>
        <div class="col-md-9">
            <span>@(Model.game.price)</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h5>Release Date</h5>
        </div>
        <div class="col-md-9">
            <span>@Model.game.releaseDate</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h5>
                Geners
            </h5>
        </div>
        <div class="col-md-9">
            @if (Model.game.genres.Count > 0)
            {
                <div class="row">
                    @foreach (var genre in Model.game.genres)
                    {
                        <h4 class="game-genre">
                            <span class="badge badge-primary">@genre.name</span>
                        </h4>
                    }
                </div>
            }
            else
            {
                <h4> No genres to present</h4>
            }
        </div>
    </div>
    <div class="row">
        <div id="avgRate">
            @if (Model.avarageRate != null)
            {
                <span> Avarege Rating: <i id="avaregeRate" class="bi bi-star-fill">@String.Format("{0:0.00}", Model.avarageRate)</i></span>
            }
            else
            {
                <span> Avarege Rating: <i id="avaregeRate" class="bi bi-star-fill">0.00</i></span>
            }
        </div>
    </div>
</div>

<div class="image-display">
    <div class="image-screen">
        <img src="@Url.Action("GetGameImage", new {gameImageId = ((List<GameImage>)Model.game.images)[0].id})" />
    </div>
    <div class="image-display__carousel">
        <div class="carousel__arrow carousel__arrow--left">
            <i class="bi bi-arrow-left-circle"></i>
            <span>Turn Left</span>
        </div>
        <div class="carousel__arrow carousel__arrow--right">
            <i class="bi bi-arrow-right-circle"></i>
            <span>Turn Right</span>
        </div>
        <div class="item-bar">
            @for (int i = 0; i < Model.game.images.Count; i++)
            {
                <div class="item-bar__item @(@i == 0 ? "item-bar__item--selected" : "") "
                     data-image-url="@Url.Action("GetGameImage", new {gameImageId = ((List<GameImage>)Model.game.images)[i].id})">
                    <img src="@Url.Action("GetGameImage", new {gameImageId = ((List<GameImage>)Model.game.images)[i].id})" />
                </div>
            }
        </div>
    </div>
</div>

<div>
    @if (User.IsInRole("Admin") || User.IsInRole("Developer"))
    {
        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.game.id">Edit</a>
    }
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>

@if (User.IsInRole("Customer"))
{
    @if (Model.currCustomerOrder == null)
    {
        <a class="btn btn-success" href="/Orders/create?gameid=@Model.game.id">buy now</a>
        <a class="btn btn-success" id="addToCart">add to cart</a>
    }

    else
    {
        <div class="form-group mt-3 border border-secondary">
            <div id="currentReviewName">
                @if (@Model.currUserReview != null)
                {
                    <h5>@Model.currUserReview.cusotmer.name</h5>
                }
            </div>
            <div id="currentReview">
                <div id="WrittenTime">
                    @if (@Model.currUserReview != null)
                    {
                        <i class="bi bi-clock"> Written at @Model.currUserReview.writtenAt</i> <i class="bi bi-clock-fill" id="currentReviewLastUpdated"> Last update @Model.currUserReview.lastUpdate</i>
                    }
                </div>

                <div id="commentArea">
                    @if (@Model.currUserReview != null)
                    {
                        <textarea class="form-control" id="currentReviewTextArea" rows="3">@Model.currUserReview.comment</textarea>
                    }
                    else
                    {
                        <textarea class="form-control" id="currentReviewTextArea" rows="3"></textarea>
                    }
                </div>

                <i class="bi bi-star-fill">
                    <select id="currentReviewRating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </i>
                <button type="button" class="btn btn-success" id="createANewReview">Crate A Review</button><button type="button" class="btn btn-info" id="editCurrentReview">Edit</button><button type="button" class="btn btn-danger" id="deleteCurrentReview">Delete</button>
                <div id="reviewRatingAndId">
                    @if (@Model.currUserReview != null)
                    {
                        <input id="currentReviewRatingHidden" hidden value="@Model.currUserReview.rating">
                        <input id="currentReviewIdHidden" hidden value="@Model.currUserReview.id">
                    }
                </div>
            </div>
        </div>
    }
}


@foreach (var review in Model.reviews)
{
    <div class="form-group mt-3 border border-secondary" id="@review.id">
        <h5>@review.cusotmer.name</h5>
        <i class="bi bi-clock"> Written at @review.writtenAt</i> <i class="bi bi-clock-fill"> Last update @review.lastUpdate</i>
        <textarea class="form-control" id="reviewTextArea" rows="3" disabled>"@review.comment"</textarea>
        <i class="bi bi-star-fill">@review.rating</i>
        @if (User.IsInRole("Admin"))
        {
            <button type="button" class="btn btn-danger" onclick="deleteReview('@review.id')">Delete</button>
        }
    </div>
}


@section Scripts {
    <script type="text/javascript" src="~/js/Games/Details.js"></script>
    <script type="text/javascript" src="~/js/Games/ImageDisplay.js"></script>
    <link rel="stylesheet" href="~/css/Games/Games.css" />
    <link rel="stylesheet" href="~/css/Games/ImageDisplay.css" />
    <script type="text/html" id="all_users_review_template">
        <div class="form-group mt-3">
            <label for="exampleFormControlTextarea1">{userName}</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" disabled>{comment}</textarea>
            <i class="bi bi-star-fill">{rating}</i>
        </div>
    </script>
}

@section Alerts{
    <div class="alert alert-success mt-2 hide" role="alert" id="cartAlert" style="display:none;">
        Game added to cart successfully!
    </div>

    <div class="alert alert-primary mt-2 hide" role="alert" id="reviewUpdateAlert">
        Review Updated Successfully
    </div>

    <div class="alert alert-danger mt-2 hide" role="alert" id="reviewDeleteAlert">
        Review Deleted Successfully
    </div>

    <div class="alert alert-success mt-2 hide" role="alert" id="reviewCreateAlert">
        Review Created Successfully
    </div>
}
