@model IEnumerable<vapor.Models.Game>

@{
    ViewData["Title"] = "Home";
}
<div class="tcontainer">
    <div class="ticker-wrap">
        <div class="ticker-move" id="treadmill">
            @section Scripts{
                <script src="~/js/News/index.js"></script>

                <script type="text/html" id="news">
                    {title}
                </script>
            }
        </div>
    </div>
</div>
<h1 hidden>Home</h1>
@if (User.IsInRole("Admin") || User.IsInRole("Developer"))
{
    <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
            <div class="card bg-dark text-black h-100">
                <div class="embed-responsive embed-responsive-16by9">
                    <img class="card-img card-img-top embed-responsive-item" src=@Url.Action("GetGameImage", new {id = item.images.FirstOrDefault().id})>
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@item.name</h5>
                    <h6 class="card-subtitle text-muted mb-2">@item.developer.name</h6>

                    <div class="mb-2">
                        @*<span class="badge badge-secondary">temp1</span>
                            <span class="badge badge-secondary">temp2</span>
                            <span class="badge badge-secondary">temp3</span>
                            <span class="badge badge-secondary">temp4</span>*@

                        @foreach (var genre in item.generes.Take(4))
                        {
                            <span class="badge badge-secondary">@genre.name</span>

                        }
                    </div>

                    @*<p class="card-text">@item.description.Substring(0, Math.Min(item.description.Length, 50))</p>*@
                    <div style="margin-top: auto;" class="row">
                        <span class="col-12">
                            <a asp-action="Details" asp-route-id="@item.id" class="btn btn-primary w-100">Details</a>
                        </span>
                        @if (User.IsInRole("Admin") || User.IsInRole("Developer"))
                        {
                            <span class="col-12 my-1">
                                <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-warning w-100">Edit</a>
                            </span>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Developer"))
                        {
                            <span class="col-12">
                                <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger w-100">Delete</a>
                            </span>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
