@model IEnumerable<vapor.Models.Game>

@{
    ViewData["Title"] = "Home";
}

<h1>Home</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-3 mb-3">

                <div class="card bg-dark text-black">
                    <img class="card-img-top" src=@item.images.FirstOrDefault().imageUrl>
                    <div class="card-body">
                        <h5 class="card-title">@item.name</h5>
                        <h6 class="card-title">@item.developer.name</h6>
                        <p class="card-text">@item.description</p>
                        <a asp-action="Details" asp-route-id="@item.id" class="btn btn-primary">Details</a>
                        <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger">Delete</a>
                    </div>
                </div>

            </div>
        }
    </div>
</div>
