@model IEnumerable<vapor.Models.Game>

@{
    ViewData["Title"] = "Order details";
}

<h1>order details</h1>
<div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col" hidden>ID</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Developer</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row" hidden><input class="gamesid" type="hidden"value="@item.id" /></th>
                    <td class="embed-responsive embed-responsive-16by9">
                        <img class="card-img card-img-top embed-responsive-item" src=@Url.Action("GetGameImage", "Games", new {gameImageid = item.images.First().id})>
                    </td>
                    <td>@item.name</td>
                    <td>@item.developer.name</td>
                    <td>@item.price</td>
                </tr>
            }

        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-4">
        @*<input type="hidden" value="@Model.id" id="gameid" />*@
        <button id="confirm" class="btn btn-primary">Buy</button>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/Orders/Create.js"></script>
}
