@model IEnumerable<vapor.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<div class="row profile-container">
    @foreach (var item in Model)
    {
        if (item.customer.name == User.Identities.First().Name || User.IsInRole("Admin"))
        {
            <div class="profile-card">
                <img class="profile-img" src=@Url.Action("GetGameImageByGameId", "games", new { gameId = item.gameId }) alt="Avatar" width="100" height="100">
                <div class="profile-card">
                    <h4><b>Order</b></h4>
                    <p>Customer:@item.customer.name</p>
                    <p>Game:@item.game.name</p>
                    <p>Date:@item.date</p>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item">Edit</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item">Delete</a>

                </div>
            </div>
        }
        else
        {
            if (item.game.developer.name == User.Identities.First().Name || User.IsInRole("Admin"))
            {
                <div class="profile-card">
                    <img class="profile-img" src=@Url.Action("GetGameImageByGameId", "games", new { gameId = item.gameId }) alt="Avatar" width="100" height="100">
                    <div class="profile-card">
                        <h4><b>Order</b></h4>
                        <p>Customer:@item.customer.name</p>
                        <p>Game:@item.game.name</p>
                        <p>Date:@item.date</p>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item">Edit</a> |
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item">Details</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item">Delete</a>

                    </div>
                </div>
            }
        }
    }
</div>
